<div class="container-fluid pad-top">
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <p><span class="highlight">Type your <a target="_blank" href="https://lodash.com/docs/4.15.0">lodash</a> expression.</span></p>
                <p>
                    <textarea class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12" rows="4"
                              ng-model="expression"/>
                </p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="pad-top">
                    <table class="table table-borderless">
                        <tr>
                            <td>
                                <span class="label-success block-label btn-block"
                                      ng-if="validateJson()">Valid Json</span>
                                <span class="label-danger block-label btn-block"
                                      ng-if="jsonText && validateJson()===false">Invalid Json</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button ng-click="runExpression()" class="btn btn-fixed-size btn-md btn-primary">Run
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <h4>Input your Json Here</h4>
                <p>
                    <textarea class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12" rows="15"
                              ng-model="jsonText"/>
                </p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="pad-top">
                    <table class="table table-borderless">
                        <tr>
                            <td>
                                <button ng-click="beautify()"
                                        class="btn btn-fixed-size btn-primary btn-md center-block">
                                    Beautify
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    <div ng-class="{'full-screen': fullScreen}" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="pull-right move">
            <div ng-click="toggleFull(fullScreen)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 well" ng-class="{'whole-height': fullScreen }">
            <uib-tabset active="activeJustified" justified="true">
                <uib-tab index="0" heading="JSON">
                    <pre contenteditable="true" class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12 output-json">{{outputObj | json}}</pre>
                </uib-tab>
                <uib-tab index="1" heading="Object">
                    <pre>
                        <json-formatter json="outputObj" open="2"></json-formatter>
                    </pre>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
