.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.pad-top {
    padding-top: 8vh;
}

.block-label {
    display:block;
    color:white;
    text-align: center;
}

.btn-fixed-size {
    width: 10vw;
}

.logo{
    height: 4vh;
}

.output-json{
    height: 60vh;
}

.full-screen {
    position: fixed;
    top:12vh;
    left:1vh;
    width: 98vw;
}

.move {
    position: relative;
    top: 4vh;
    left: -1vw;
    z-index: 1000;
}

.highlight {
    font-size: larger;
}