.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.pad-top {
    padding-top: 8vh;
}

.block-label {
    display:block;
    color:white;
    text-align: center;
}